.login-bg{
    background: url('../img/swiper2.jpg') no-repeat 50% 50%;
    /* margin-bottom: 40px; */
    /* padding-left: 100%; */
    /* overflow: visible; */
    padding-top: 200px;
    width: 100%;
    height: 540px;
}

.login-commit{
    float: right;
    width: 400px;
    height: 500px;
    background: #fff;
    position: relative;
    /* padding-top: 80px; */
}
form input{
    /* position: absolute; */
    padding: 5px 4px;
    border-color: #efefef;
    border-radius: 2px;
    width: 250px;
    height: 26px;
    line-height: 26px;
    padding: 1px 4px;
    margin: 5px 10px;
}
.login-article{
    /* position: absolute; */
    margin:30px;
    font-size: 18px;
}

#login_btn{
    /* position: absolute; */
    margin-left: 10px;
    padding: 1px 4px;
}
