<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/iconfont.css">
  </head>
  <body>
    <footer>
      <div class="wrap">
        <div class="footer-box">
          <div class="footer-logo tc">
            <a href="">
              <img src="img/footer-logo.png" alt="">
            </a>
          </div>
          <div class="footer-nav tc">
            <ul>
              <li>联系我们</li>
              <li>|</li>
              <li>订购帮助</li>
              <li>|</li>
              <li>企业合作</li>
              <li>|</li>
              <li>生产经营资质</li>
              <li>|</li>
              <li>公告专区</li>
            </ul>
          </div>
          <div class="footer-bl tc">
            <div class="bl-img">
              <img src="img/footer-bl.gif" alt="">
            </div>
            <div class="bl-des">
              本商店顾客个人信息将不会被泄漏给其他任何机构和个人
              <br>
              本商店logo和图片都已经申请保护，未经授权不得使用
              <br>
              地址：上海市宝山区共康路1018号405室  邮箱：2693043883@qq.com
              <br>
              有任何购物问题请联系我们在线客服 | 电话：021-65106920 | 工作时间：周一至周日 9:00－22:00
            </div>
          </div>
        </div>
      </div>

      <div class="footer-line"></div>
    </footer>
  </body>
</html>
