<!DOCTYPE html>
<html>
  <head>
    <title>头部</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/iconfont.css">
  </head>
  <body>
      <div class="header">
        <header class="box">
          <div class="wrap">
            <div class="logo l">
              <a href="">
                <img src="img/banner3.png" alt="">
              </a>
            </div>
              <div class="header-left l">
                <ul>
                  <li>
                    <a href="">首页</a>
                  </li>
                  <li>
                    <a href="">产品中心</a>
                  </li>
                  <li>
                    <a href="">套餐组合</a>
                  </li>
                  <li>
                    <a href="">会员中心</a>
                  </li>
                  <li>
                    <a href="">帮助中心</a>
                  </li>
                  <li>
                    <a href="">关于我们</a>
                  </li>
                </ul>
              </div>
              <div class="header-right r">
                <ul>
                  <li>移动端</li>
                  <li class="my">我的<i class="iconfont icon-xiajiantou"></i></li>
                  <li>
                    <a href="">
                      登录/注册
                    </a>
                    </li>
                  <li>
                    <span>
                      <i class="iconfont icon-gouwucheman shopcarIcon">
                        <b>0</b>
                      </i>  
                      
                    </span>
                  </li>
                </ul>
              </div>
              
        </div>
        </header>
      </div>
        
     
  </body>
</html>
