<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/swiper.min.css" />
  </head>
  <body>
    <%include header.ejs %>
    <section>
      <div class="ad-box">
        <div class="ad-swiper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/swiper1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="img/swiper2.jpg" alt="">
                </div>
                
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            
            
        </div>
        </div>
      </div>

      <!-- 专区 -->
        <div class="wrap-bottom">
          <div class="ad-list"></div>
            <div class="l temp-ad"><img src="img/ad-pic1.jpg" alt=""></div>
            <div class="l temp-ad"><img src="img/ad-pic2.jpg" alt=""></div>
            <div class="l temp-ad"><img src="img/ad-pic3.jpg" alt=""></div>
            <div class="l temp-ad"><img src="img/ad-pic4.jpg" alt=""></div>
          </div>
      </div>

      <!-- 人气推荐 -->
      <div class="put-box">
        <div class="put-list">
          <div class="hd-title">
            人气
            <span>/</span>
            <span>推荐</span>
          </div>
          <div>
            <div class="ad-pic">
              <img src="img/put-hd.jpg" alt="">
            </div>
          </div>
          <div class="goods_sum">
            <ul>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="put-list">
          <div class="hd-title">
            人气
            <span>/</span>
            <span>推荐</span>
          </div>
          <div>
            <div class="ad-pic">
              <img src="img/put-hd.jpg" alt="">
            </div>
          </div>
          <div class="goods_sum">
            <ul>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
              <li class="goods_list">
                <div class="goods_img">
                  <a href="">
                    <img src="img/put-bottom1.jpg" alt="">
                  </a>
                </div>
                <div class="goods_tags">
                  <a href="">普拉迪克桃红葡萄酒PRADIGNAC</a>
                  <div>
                    <span>单支装</span>
                  </div>
                </div>
                <div class="goods_price">
                  <span>
                    <ins>￥84.50</ins>
                    <span>/</span>
                    <del>￥196.50</del>
                  </span>
                  <span class="btn_shopcar">加入购物车</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      
    </section>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
    loop: true, // 循环模式选项
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })        
    </script>
    
  </body>
</html>
