<!DOCTYPE html>
<html>
  <head>
    <title>扶뒬못</title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/iconfont.css"> -->
    <!-- <style>
      .div1{
        padding-top: 80px;
      }
    </style> -->
  </head>
  <body>
    <%include header.ejs %>
    <div class="div1">扶뒬못</div>
    
    
  </body>
</html>
