*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px "HanHei SC","PingFang SC","Avenir Next";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.topbar{
    height: 40px;
    background: #333;
    font-size: 12px;
    color: #fff;
    line-height: 40px;
}
.wrapper{
    height: 40px;
    width: 1200px;
    /* background: #fff; */
    margin: 0 auto;
}
.topbar-list{
    /* line-height: 40px; */
    float: left;
    /* color: #fff; */
}
.topbar-list a, .topbar-info a{
    color: #fff;
    text-decoration: none;
}
.topbar-list a:hover{
    color: #ddd;
}
.topbar-list span{
    margin: 0 2px;
}
.topbar-info{
    float: right;
    /* color: #fff; */
}

/* header开始 */
.header{
    height: 100px;
    /* background: red; */
}
.logo{
    float: left;
    margin-top: 23px;
}
.nav{
    float: right;
    margin: 36px -23px 0 0;
}
.nav > li{
    float: left;
    padding: 0 23px;
    height: 40px;
}
.nav > li .nav-list{
    color: #212121;
    font-size: 18px;
}
.nav > li .nav-list:hover{
    color: #e94400;
}
.nav-sub-list{
    display: none;
    /* z-index: 1; */
    width: 150px;
    height: 102px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: absolute;
    top: 43px;
    left: -37px;
    border-radius: 2px;
    /* border: 1px solid #e5e5e5 */
}
.nav-sub-list ul{
    padding: 10px 0;
}
.nav-sub-list li{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav-sub-list a{
    color: #434343;
}
.nav-sub-list li:hover a{
    color: #e94400;
}
.nav-sub-list li:hover{
    background: #eee;
}
.nav-sub-list::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: 72px;
    top: -5px;
    border: 1px solid #e5e5e5;
    transform: rotate(45deg);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: #fff;
}
.nav-money{
    position: relative;
}
.nav-money:hover .nav-sub-list{
    display: block;
}

/* header结束 */

/* banner开始 */
.banner{
    height: 640px;
    background: url(image/banner.jpg) center 0;
}
.sub_title{
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    padding-top: 194px;
    margin-bottom: 30px;
}
.download_btn{
    text-align: center;
}
.banner a{
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
    display: inline-block;
    background: #F93F2B;
    width: 260px;
    height: 60px;
    border-radius: 5px;
}
/* banner结束 */
/* content开始 */
.content{
    width: 1170px;
    height: 392px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    /* margin: 0 auto; */
    padding: 30px 0 30px 30px;
    margin-top: -80px;
}
.list{
    /* background: orange; */
    width: 360px;
    float: left;
    margin-right: 30px;
}
.list-img{
    height: 180px;
    background: url(image/bg1.png) 0 0 no-repeat;
    background-size: 360px 180px;
    overflow: hidden;
}
.list-img h2{
    color: #fff;
    font-size: 33px;
    line-height: 33px;
    margin-top: 40px;
    padding-left: 35px;
}
.list-img p{
    color: #ffffff;
    font-size: 33px;
    line-height: 33px;
    font-weight: 300;
    padding-top: 16px;
    padding-left: 35px;
}
.dec-list{
    padding: 10px 30px;
    color: #666;
    font-size: 16px;
}
.dec-list span{
    color: #EA5600;
}
.dec-list p{
    margin-top: 20px;
}
.list-more{
    border-top: 1px solid #ececec;
    color: #EA5600;
    font-size: 16px;
    text-align: center;
    margin: 40px 0 10px;
    height: 62px;
    line-height: 62px;
}
/* content结束 */