<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" placeholder="请输入值">
        <input type="text" v-model.lazy="msg" placeholder="请输入值">
        数据：{{msg}}
        <input type="radio" name="sex" v-model="sexData" value="男">男
        <input type="radio" name="sex" v-model="sexData" value="女">女
        数据2：{{sexData}}
        <select name="" id="" v-model="school">
            <option value="哈工大">哈工大</option>
            <option value="吉大">吉大</option>
            
        </select>
        学校：{{school}}
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                msg:"",
                sexData:"",
                school:""
            }
        })
    </script>
</body>
</html>